  
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body{
    background-color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:var(--color-primario);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .swiper{
    width: 100%;
    padding: 150px 0 50px 0;
  }
  
  .swiper-slide{
    width: 300px;
    height: 500px;
    background-color: #323232;
    box-shadow: 0 0 20px rgba(0, 0 , 0, 0.4);
    padding: 40px;
    text-align: center;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .icon i{
    font-size: 20px;
    color: var(--color-terciario);
  }
  
  
  .icons img{
    width: 120px;
  }
  
  .producto-content {
    display: flex;  
    justify-content: space-between;
  }
  
  .producto-txt{
    flex-basis: 50%;
    text-align: left;
  }
  
  .producto-txt span{
    font-size: 25px;
    color: var(--color-terciario);
    font-weight: bold; 
  }
  
  .producto-txt h3{
    font-size: 20px;
    color: var(--color-secundario);
    text-transform: uppercase;
  }
  
  .producto-txt p{
    font-size: 14px;
    color: #c4c4c4;
  }
  
  
  .producto-img {
    flex-basis: 50%;
    text-align: right;
  }
  
  .producto-img img{
    width: 120px;
  }
  .swiper-slide:hover {
    background-color: #1e1e1e;
  
  }
  /* BOTON COMPRAR */
  .btn-1{
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid color var(--color-terciario);
    border-radius: 25px;
    color: var(--color-terciario);
    text-decoration: none;
    margin-top: 50px;
  }
  
  
  /* SECTION OFERTAS  */
  .ofertas{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
  }
  .ofertas, .productos {
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    padding: 20px;
  }
  
  .mostrador{
    width: 100%;
    transition: .5s ease;
  }
  .mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
  }
  .mostrador .fila .item:hover{
    background-color: #1e1e1e;
  }
  .mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
  }
  .mostrador .fila .item .descripcion{
    color: var(--color-secundario);
    font-weight: bold;
  }
  .mostrador .fila .item .precio{
    color:var(--color-terciario);
    font-weight: lighter;
    font-size: 15px;
  }
  /* .seleccion{
    transition: .5s ease;
    opacity: 1;
    width: 40%;
    border: 1px solid var(--color-primario);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .cerrar{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .info{
    padding: 20px;
  }
  .info img{
  display: block;
  margin: 30px;
  width: 80%;
  }
  .info h2{
    color: var(--color-primario);
    margin-bottom: 10px;
  }
  .info p{
    font-size: 14px;
    color:var(--color-primario);
    margin-bottom: 10px;
  }
  .info .precio{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-terciario);
    margin-bottom: 10px;
    display: block;
  }
  
  .info .fila{
    display: flex;
    align-items: flex-end;
  } */
  
  
  .ofertas h2, .productos h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tarjeta-oferta {
    
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .tarjeta-oferta img {
    width: 100px;
  
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .tarjeta-oferta h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .tarjeta-oferta p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .descuento {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  