@import url(nav.css);
@import url(banner.css);


:root {
    --color-primario: #00000E;
    --color-secundario: #3E3E3E;
    --color-terciario: #4900FF;
  
  
  
    --color-sombra-1: #242424a8;
    --color-fuente-1: #C9C9C9;
    --color-fuente-2: #4900FF;
  
  
    
    --fuente-1: "Space Grotesk", 'Lucida Sans Regular';
    --tamaño-fuente-1: 50px;
    --tamaño-fuente-2: 30px;
    --tamaño-fuente-3: 20px;
    --tamaño-fuente-4: 15px;
    --tamaño-fuente-5: 10px;
    --tamaño-slide: 120px;
    --universal-gradient:linear-gradient(to right, var(--color-terciario) 90%,var(--color-fuente-1));
  
  }


  body{
    background: var(--color-primario);
  }