<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"  rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Register</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../templates/iniciar_sesion.html">
                <img src="../static/img/back.png" alt="Almacen_lo_de_Matias_Logo">
            </a>
        </div>
    </header>
    <main>
        <div>
            <div class="container-form">
                <img src="../static/img/registrarse.png" alt="">
                <h2>REGISTER</h2>
                <form action="#">
                    <label for="name">Firts Name
                        <input type="text" id="name" placeholder="Ingrese su nombre">
                    </label>
                    <label for="surname">Last Name
                        <input type="text" id="surname" placeholder="Ingrese su apellido">
                    </label>
                    <label for="email">Email
                        <input type="text" id="email" placeholder="Ingrese su email">
                    </label>
                    <label for="password">Password
                        <input type="text" id="password" placeholder="Ingrese su contraseña">
                    </label>
                    <div class="btn">
                        <input type="submit" value="Create Account">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>

</body>

</html>